body { 
    font-family:robbobo,sans-serif;
    font-weight: 150px;
    
    }

    .logo{
        position: relative;
        top: 10px;
        left: 30px;
        size-adjust: 10px;
    }
    .tro{ font-size: 20px;
        position: absolute;
        top: 40px;
        left: 100px;
    }
    li{display:inline-block;
        padding: 17px;
        text-indent: 13px;
        text-decoration: none;
        text-align: right;
        position: relative;
        top: -60px;
        left: 410px;
        font-size: 15px ;
        color: gray;
        margin-left: -10px;
      }
      .search{
        width: 19px;
        position: relative;
        top: 5px;
         }
         .qoute{background-color: tomato;
            border: 1px;
            height: 31px;
            color: white;

         }
         .div4{display: block;
            width: 55%;
            position: absolute;
            top: 100px;
            left: 50px; }
            h1{
                font-size: 53px;
                width: 60%;
                }
                p{width: 92%;
                    text-align:justify
                }
            .div5{
                display: block;
                width: 50%;
                float: right;
                position: absolute;
                left: 700px;
                top: 50px;
            }
            .slideimg{
               size: 100px;
               margin-left: -50px;
            }
            .SHOP{
                display: inline;
                color:white;
                background-color: tomato;
                border: 1px;
                height: 37PX;
                width: 115px;
                position: absolute;
                left: -700px;
                bottom:1130px ;
            }
             .CONTACT{
                display: inline;
                 color: white;
                 background-color: black;
                 border: 1px;
                 height: 37px;
                 width: 120px;
                 margin: 10px; 
                 position: absolute;
                 left: -580px;
                 bottom: 1120px;
            }
            
            .section1{
                display: block;
                position: absolute;
                bottom: 1030px ;
                left: -500px;
            }  
             .h2{
                display: block;
                position: absolute;
                bottom: 30px;
                left:250px ;
                font-size: 30px;
             }
          .orange{
            
            display: inline-block;
            position: relative;
            top: 220px; 
            right: 700px; 
            box-sizing: border-box;
        padding-left: 10px;
        margin-left: 20px ;
    text-align: center;
        width: 30%;
    color: black;
} 
        
        
        .grapes{
            display: inline-block;
            position: relative;
            top: -325px; 
            right: -340px; 
            box-sizing: border-box;
        padding-left: 10px;
        margin-left: 30px ;
    text-align: center;
        width: 30%;
     color:black;} 
        .gauva{
            display: inline-block;
            position: relative;
            top: -325px; px;
            right: -320px;
            box-sizing: border-box;
        padding-left: 10px;
        margin-left: 30px ;
    text-align: center;
        width: 30%;
    color: black} 
        .img{
        padding-top: 40px;
        size: 20px;
        }
        .h{
            color: orangered;
        }
        .read{
            display: inline;
            position: absolute;
            right: 425px;
            bottom: -80px;
            width: 150px;
            height: 45px;
            background-color: black;
            color: white;
        }
        h6{
            display: inline;
            position: relative;
            bottom: -100px;
            right: 350px;
            width: 90px;
            font-size: 35px;
            
        }
        p3{
            display: inline-block;
            position: relative;
            bottom: -110px;
            right: 425px;
            width: 400px;
            text-align:;
            
        
        }
        /* orange */
        .h7{
            display: inline;
            position: relative;
            bottom: 30px;
            left: -400px;
            font-size: 40px;
            
        }   
        p4{
            display:inline;
            position: absolute;
            left: -330px;
            text-align: left;
        }
        .d9{float: right;
             display: inline-block;
            position: absolute;
            right: -480px;
            top: -40px; 
            width: 50%;
        }
        .BUY{display: block;
            position: absolute;
            top: 130px;
            left: -845px;
            color: white;
            background-color: black;
            height: 40px;
            width: 130px;
        }
           
        
        
        /*fresh  grapes */

        .h8{
            display: inline-block;
            position: absolute;
            top: 150px;
            left:-850px;
            font-size: 30px;
            font-weight: 2px;
            width: 380px;

        }
        .p5{
            display: inline;
            position: absolute;
            top: 290px;
            left: -850px;
            width: 700px;
        }   
        .d10{
            display: block;
            position: absolute;
            top: 150px;
            left: 70px;
            
        }
       .BUY1{display: block;
            position: absolute;
            top: 400px;
            left: -850px;
            color: white;
            background-color: black;
            height: 40px;
            width: 130px;
        }
        /* gauva */

        .h9{
            display: inline;
            position: absolute;
            top: 480px;
            left: -850px;
            width: 700px;
        }
        .p6{
            display: inline;
            position: absolute;
            top:630px ;
            left:-850px ;
            width: 630px;
        }
        .d11{display:block ;
            position: absolute;
            top:570px ;
            left: 10px;

        }

       .BUY2 {display: block;
            position: absolute;
            top: 735px;
            left: -850px;
            color: white;
            background-color: black;
            height: 40px;
            width: 130px;}

            /* testimonial */
            .dish{
                  padding-right: -400px;
            }

            .h10{display: block;
                position: absolute;
                top:1150px ;
                left: -450px;
            }
           .p7 {display: inline;
            position: absolute;
            top:1300px;
            left:-530px ;
            width: 420px;

            }
           .d12{
                 
                  margin-top:100px ;
                  margin-left: -1000px; 
                  width: 360px; 

            }
            .h11{
                display: block;
                position: absolute;
                top: 1600px;
                left: -400px;
            }
            .p8{display: inline;
                position: absolute;
                top:1750px ;
                left:-700px ;
                width: 700px;

            }
            .h12{display: block;
                position: absolute;
                top: 1550px;
                left:-850px ;
                width: 200px;

            }
          .li1{display: inline;
            position:absolute;
            top:1650px ;
            left: ;

            }

            /* contact us */

            .contact {
                border: none;
                outline: none;
                border-bottom: .8px solid #252525;
                width: 180%;
                margin-top: 50px;
                margin-left: -900px;
                
            }
            .contacts{
                margin-left:-900px ;
                width: 200%;
                margin-top: 260px;
            }

                .tasty {
                    width: 1100px;
                    padding-top: -;
                    height: fit-content;
                    margin-top: 460px;
                    margin-left: -900px;  
                     }
                     .buttons{
                        margin-left: -900px;
                        margin-top: 50px;
                     }
                     .endlist{
                        margin-top: 280px;
                        margin-left: -900px;
                     }

                     .copyright{
                        
                        background-color:rgb(237, 230, 245);
                        margin-left: -1000px;
                        margin-top: 80px;
                        padding-top: 10px;
                        height: 25px;
                        width: 1180px;
                        align-items: center;
                    }